.table {
  background: white;
}

.table--filter {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 30px;
}

.table--filter--link {
  margin-right: 1rem;
}

.table--filter--link:hover {
  color: #5463c1;
  cursor: pointer;
}

.table--filter--link:hover::after {
  content: "";
  position: relative;
  top: 20px;
  border-bottom: 5px solid #5463c1;
  display: block;
}

.table--filter--link--active {
  color: #006fbb;
  font-weight: 500;
}

.table--filter--link--active::after {
  content: "";
  position: relative;
  top: 20px;
  border-bottom: 5px solid #5463c1;
  display: block;
}

.table--filter--collapseBtn {
  display: none;
}

.table--search {
  padding: 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(150px, auto) minmax(180px, 1fr);
  grid-template-columns: minmax(150px, auto) minmax(180px, 1fr);
}

.table--search--wrapper {
  position: relative;
}

.table--search--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #eeeeee;
  color: #6a727a;
  width: 100%;
  border: none;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.table--search--select:hover {
  cursor: pointer;
}

.table--search--select--arrow {
  font-size: 1rem;
  opacity: 0.7;
  top: 8px;
  right: 20px;
  position: absolute;
}

.table--search--option {
  font-size: 1.1rem;
}

.table--search--input {
  width: 100%;
  border: none;
  color: #454f5b;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.table--search--input--icon {
  top: 12px;
  left: 12px;
  color: #d4d4d4;
}

.table--search--input::-webkit-input-placeholder {
  color: #d4d4d4;
}

.table--search--input:-ms-input-placeholder {
  color: #d4d4d4;
}

.table--search--input::-ms-input-placeholder {
  color: #d4d4d4;
}

.table--search--input::placeholder {
  color: #d4d4d4;
}

.table--search--input:focus {
  border: 2px solid #5463c1;
}

.table--heading {
  padding: 0 30px;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  color: #808891;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.2rem;
}

.table--items {
  padding: 10px 30px !important;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.6rem 0;
}

.table--items--indicator {
  font-size: 0.7rem;
}

.table--items--transactionId {
  color: #006fbb;
  font-weight: 500;
}

.table--items:hover {
  background: #f8f7f7;
  cursor: pointer;
}

@media (max-width: 600px) {
  .table--search {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .table--search--select {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #e0e0e0;
  }
  .table--search--input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid #e0e0e0;
  }
  .table--heading {
    -ms-grid-columns: (80px, 1fr) [auto-fit];
    grid-template-columns: repeat(auto-fit, 80px, 1fr);
  }
  .table--items {
    -ms-grid-columns: (80px, 1fr) [auto-fit];
    grid-template-columns: repeat(auto-fit, 80px, 1fr);
  }
  .table--filter--listWrapper {
    display: none;
  }
  .table--filter--collapseBtn {
    display: block;
    font-size: 1.3rem;
    color: #6a727a;
    cursor: pointer;
  }
  .table--filter--list {
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .table--filter--link {
    padding: 0.6rem 0;
  }
  .table--filter--link:hover {
    background: #eeeeee;
    cursor: pointer;
    display: block;
    width: 100%;
  }
  .table--filter--link:hover::after {
    display: none;
  }
  .table--filter--link--active {
    color: #006fbb;
    font-weight: 500;
  }
  .table--filter--link--active::after {
    display: none;
  }
}
