.dropdown {
  background-color: #f0f1f3;
  width: 140px;
  border-radius: 15px;
  font-size: 20px;
  display: flex;
  gap: 18px;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  box-shadow: 8px 4px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 60px;
  right: 35px;
}

.dropdown_item {
  border-bottom: 0.5px solid gainsboro;
  display: flex;
  gap: 7px;
  height: 20px;
  margin: 4px;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  width: 100%;
}
.dropdown_item:hover {
  color: #d2321e;
}

.icon {
  font-size: 16px;
}
