.parent {
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
}

.row_1 {
  display: flex;
  height: 100vh;
  width: 100%;
}

.col_1 {
  height: 100%;
  width: 20%;
}

.col_2 {
  /* background-color: yellow; */
  height: max-content;
  width: 80%;
  margin-right: 15px;
}

.productContainer {
  width: 100%;
  /* change the height accorinf to the requirement */

  padding-top: 15px;
  padding-bottom: 25px;
  background-color: #f0f1f3;
}

@media screen and (max-width: 768px) {
  .col_1 {
    display: none;
  }
  .col_2 {
    width: 100%;
  }
}
